In [1]:
import pandas as pd
df = pd.read_csv("data/ final_food_delivery_dataset.csv")
df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [7]:
gold_members = df[df['membership'] == 'Gold']
city_revenue = gold_members.groupby('city')['total_amount'].sum()
top_cities = city_revenue.sort_values(ascending=False)
print(top_cities.head(1))

city
Chennai    1080909.79
Name: total_amount, dtype: float64

In [8]:
cuisine_highest_average_order_value = df.groupby('cuisine')['total_amount'].mean()
top_cuisines = cuisine_highest_average_order_value.sort_values(ascending=False)
print(top_cuisines.head(1))

cuisine
Mexican    808.021344
Name: total_amount, dtype: float64

In [9]:
cuisine_avg_value = df.groupby('cuisine')['total_amount'].mean()
top_cuisines = cuisine_avg_value.sort_values(ascending=False)
print(top_cuisines.head(1))

cuisine
Mexican    808.021344
Name: total_amount, dtype: float64

In [10]:
users_total_spending = df.groupby('user_id')['total_amount'].sum()
total_top_users = users_total_spending[users_total_spending > 1000]
print(len(total_top_users))

2544

In [40]:
bins = [2.9, 3.5, 4.0, 4.5, 5.0]
labels = ['3.0 – 3.5', '3.6 – 4.0', '4.1 – 4.5', '4.6 – 5.0']
df['rating_range'] = pd.cut(df['rating'], bins=bins, labels=labels)
revenue_by_rating = df.groupby('rating_range')['total_amount'].count()
print(df.groupby('rating')['total_amount'].count())
print(revenue_by_rating.sort_values(ascending=False))

rating
3.0    331
3.1    548
3.2    599
3.3    367
3.4    438
3.5    396
3.6    312
3.7    466
3.8    562
3.9    387
4.0    391
4.1    486
4.2    512
4.3    409
4.4    422
4.5    602
4.6    605
4.7    518
4.8    831
4.9    608
5.0    210
Name: total_amount, dtype: int64
rating_range
4.6 – 5.0    2772
3.0 – 3.5    2679
4.1 – 4.5    2431
3.6 – 4.0    2118
Name: total_amount, dtype: int64

In [15]:
gold_city_avg = gold_members.groupby('city')['total_amount'].mean()
top_gold_city = gold_city_avg.sort_values(ascending=False)
print(top_gold_city.head(1))

city
Chennai    808.45908
Name: total_amount, dtype: float64

In [16]:
cuisine_stats = df.groupby('cuisine').agg({
    'restaurant_id': 'nunique', 
    'total_amount': 'sum'
})
cuisine_stats.columns = ['distinct_restaurants', 'total_revenue']
result = cuisine_stats.sort_values(by='distinct_restaurants', ascending=True)
print(result)

         distinct_restaurants  total_revenue
cuisine
Chinese                   120     1930504.65
Indian                    126     1971412.58
Italian                   126     2024203.80
Mexican                   128     2085503.09

In [21]:
total_orders = len(df)

percentage = (len(gold_members) / total_orders) * 100
print(round(percentage))

50

In [28]:
stats = df.groupby('restaurant_name_x')['total_amount'].agg(['count', 'mean'])
restaurants_in_this_category = stats[stats['count'] < 20]
req_restaurant = restaurants_in_this_category.sort_values(by='mean', ascending=False)
labels = [
print(req_restaurant

                                       count         mean
restaurant_name_x
Hotel Dhaba Multicuisine                  13  1040.222308
Sri Mess Punjabi                          12  1029.180833
Ruchi Biryani Punjabi                     16  1002.140625
Sri Delights Pure Veg                     18   989.467222
Classic Kitchen Family Restaurant         19   973.167895
Hotel Dhaba Chinese                       18   973.125556
Amma Mess Pure Veg                        18   965.299444
Hotel Biryani Pure Veg                    13   964.577692
Annapurna Curry House Multicuisine        17   954.512353
Taste of Restaurant Family Restaurant     10   948.220000
Taste of Mess Chinese                     18   942.272778
Sri Kitchen Punjabi                       16   941.330625
Ruchi Dhaba Non-Veg                       16   940.719375
Sri Cafe North Indian                     18   934.931667
Udupi Kitchen Multicuisine                18   927.130556
Grand Mess North Indian                   14   924.427857
Grand Mess Punjabi                        19   918.806842
Grand Cafe Andhra                         18   918.166667
Sri Delights Non-Veg                      16   917.500625
Swagath Foods Chinese                     17   914.952941

In [42]:

target_list = [
    "Grand Cafe Punjabi",
    "Grand Restaurant South Indian",
    "Ruchi Mess Multicuisine",
    "Ruchi Foods Chinese"
]

stats = df.groupby('restaurant_name_x')['total_amount'].agg(['count', 'mean'])

candidates = stats[
    (stats.index.isin(target_list)) & 
    (stats['count'] < 20)
]

print(candidates.sort_values(by='mean', ascending=False))

                     count        mean
restaurant_name_x
Ruchi Foods Chinese     19  686.603158